@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-brown200;
    @apply text-blue900;
}

h1 {
    @apply text-3xl;
    @apply font-extrabold;
    @apply tracking-wide;
}

h2 {
    @apply text-2xl;
    @apply font-bold;
    @apply tracking-wide;

}

h3 {
    @apply font-bold;
    @apply tracking-wide;

}

a {
    @apply font-bold;
    @apply text-green200;
    @apply hover:text-green50;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
}

section {
    @apply px-8;
    @apply pt-24;
    @apply pb-16;
    @apply flex;
    @apply flex-col;
    @apply gap-8;
}

button,
.mobile-hyperlink-class {
    @apply font-bold;
    @apply bg-green400;
    @apply hover:bg-brown400;
    @apply text-green200;
    @apply hover:text-green50;
    @apply w-full;
    @apply py-4;
    @apply px-8;
    @apply flex;
    @apply gap-4;
    @apply items-center;
    @apply justify-center;
    @apply outline-none;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
}

.mobile-hyperlink-container-class {
    @apply w-full;
    @apply px-8;
    @apply flex;
    @apply flex-col;
    @apply gap-4;
}

.mobile-hyperlink-class.active {
    @apply bg-brown400;
    @apply text-green50;
}

.inputcontainer {
    @apply flex;
    @apply flex-col;
    @apply gap-2;
    @apply rounded-none;
}

input,
select,
textarea {
    @apply bg-green300;
    @apply py-4;
    @apply px-8;
    @apply appearance-none;
}

select:invalid {
    @apply text-green100;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    @apply bg-green200;
    @apply outline-none;
    @apply ring-2;
    @apply ring-green300;
    @apply rounded-none;
}

input::placeholder,
textarea::placeholder {
    @apply text-green100;
}