@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-green-200;
    @apply text-grey-800;
}

h1 {
    @apply text-5xl md:text-6xl;
    @apply font-bold;

}

h2 {
    @apply text-xl;
    @apply font-semibold;


}

h3 {
    @apply font-bold;
    @apply tracking-wide;

}

a {
    @apply font-bold;
    @apply text-green-300;
    @apply hover:text-green-200;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
}

section {
    @apply px-8;
    @apply py-16;
    @apply flex;
    @apply flex-col;
    @apply gap-8;
}

button {
    @apply font-bold;
    @apply bg-green-500;
    @apply hover:bg-green-600;
    @apply text-green-300;
    @apply hover:text-green-200;
    @apply w-full;
    @apply py-4;
    @apply px-8;
    @apply flex;
    @apply gap-4;
    @apply items-center;
    @apply justify-center;
    @apply outline-none;
    @apply transition-all;
    @apply duration-300;
    @apply ease-in-out;
}

.inputcontainer {
    @apply flex;
    @apply flex-col;
    @apply rounded-none;
}

input,
select,
textarea {
    @apply bg-green-400;
    @apply py-4;
    @apply px-8;
    @apply appearance-none;
}

select:invalid {
    @apply text-green-200;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
    @apply bg-green-300;
    @apply outline-none;
    @apply rounded-none;
}

input::placeholder,
textarea::placeholder {
    @apply text-green-200;
}

footer {
    @apply text-sm;
    @apply text-grey-300;
    @apply bg-blue-700;
    @apply flex;
    @apply flex-col;
    @apply md:grid grid-cols-3;
}

.footersection {
    @apply px-4 md:p-8;
    @apply flex;
    @apply flex-col;
    @apply justify-end;
    @apply gap-8;
}

/* Mobile Link Styles */
.mobile-link {
    @apply bg-green-500;
    @apply hover:bg-green-600;
    @apply px-8;
    @apply py-4;
    @apply flex;
    @apply items-center;
    @apply justify-center;
}

.active {
    @apply text-green-200;
}

/* Active Mobile Link Styles */
.active-mobile {
    @apply text-green-200;
    @apply bg-green-600;
}

/* Mobile Navigation Styles */
.mobile-nav {
    @apply h-full;
    @apply flex;
    @apply flex-col;
    @apply gap-4;
    @apply px-8;
    @apply justify-center;
}

/* Desktop Link Styles */
.desktop-link {}

/* Active Desktop Link Styles */
/* Active Footer Link Styles */
.active-desktop,
.active-footer {
    @apply text-green-200;
}



/* Desktop Navigation Styles */
.desktop-nav {
    @apply flex;
    @apply gap-4;
}

/* Footer Link Styles */
.footer-link {}

/* Footer Navigation Styles */
.footer-nav {
    @apply flex flex-col items-start;
}